# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings/
bin/
# We do want Rodin projects for the test machines to be included in the repo.
!/*/src/test/resources/**/.project
!/*/src/test/resources/**/.settings
!/de.prob2.commandline/groovyTests/machines/**/.project
!/de.prob2.commandline/groovyTests/machines/**/.settings

# IntelliJ
.idea/
*.iml
out/

# Gradle
.gradle/
build/

# Downloaded resources
/de.prob2.kernel/src/main/resources/de/prob/cli/binaries/

# Logs
prob_log.txt
*.log
*.log.*

# Junk created by tests
/de.prob2.commandline/groovyTests/machines/Lift/lift0.eventb
*.csp.pl
*.dot
*.fuzz
*.prob

# Temp/swap files
*.swp
*~
/lsp/
